:root {
  --test: white;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}
svg {
  box-sizing: content-box;
}
main {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.Contacts_Section {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Contacts_Top {
  padding-left: 8px;
  padding-right: 8px;
}

.Contacts_Top_Items {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.Top_Nav {
  display: flex;
  justify-content: space-between;
  color: #0a84ff;
  padding: 8px;
}

.Contacts_Search_Container {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid gainsboro;
  padding-bottom: 20px;
}
#Contacts_Search {
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  font-size: 1rem;
  padding: 2px 8px;
}

.Contacts_Main {
  overflow-y: scroll;
}

.Contacts_My_Profile {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

#Contacts_Container {
  padding-left: 8px;
  padding-right: 8px;
}

.Contacts_Category {
  background-color: gainsboro;
}
.Contacts_Header {
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-bottom: 2px solid gainsboro;
}

.Contacts_Holder {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.Contacts {
  text-align: left;
  padding: 8px 10px;
  border: 0;
  /* color: rgb(85, 85, 85); */

  background-color: white;
}
.Contacts::first-letter {
  font-weight: bold;
}
.Contacts:hover {
  background-color: rgb(240, 240, 240);
}
.Contacts:active {
  background-color: rgb(230, 230, 230);
}

.Information_Section {
  flex-grow: 1;
}

.Information_Identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.Information_Profile {
  height: 100px;
  width: 100px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.Information_Interact {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.Information_Interact_Button {
  color: #0a84ff;
  background: none;
  border: 0;
  gap: 8px;
  cursor: pointer;
}

.Information_Interact_Button_SVG {
  height: 25px;
  background-color: #0a84ff;
  fill: white;
  border-radius: 100%;
  box-sizing: content-box;
  padding: 6px;
}
.Information_Interact_Button > p {
  margin: 0;
}

.Information_Main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
}

.Information_Contact_Items {
  display: flex;
  background-color: transparent;
  gap: 8px;
}
.Information_Contact_Logo {
  background-color: rgb(238 238 239);
  border-radius: 100%;
  padding: 8px;
  fill: #0a84ff;
  width: 24px;
  flex-shrink: 0;
}
.Information_Contact_Header {
  margin: 0;
  font-weight: normal;
}
.Information_Contact_Info {
  width: 100%;
}
.Information_Contact_Content {
  margin: 0;
  color: #0a84ff;
  width: 100%;
  display: flex;
}
.Information_Contact_Content[onclick] {
  cursor: pointer;
}
.Information_Contact_Content[onclick]::after {
  content: url("/src/svg/Forward_Email.svg");
}
.Information_Contact_Content:has(a[href^="http"])::after {
  content: url("/src/svg/External_Link.svg");
}
.Information_Contact_Content:last-child {
  border-bottom: 2px solid gainsboro;
  padding-bottom: 20px;
}
.Information_Contact_Content::after {
  content: "";
}
.Information_Contact_Content > a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Edit_Add_Section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Edit_Add_Section.Closed {
  display: none;
}
#Edit_Add_Container {
  background-color: gray;
  padding: 8px;
  border: 2px solid white;
}

.Edit_Container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 630px) {
  /* … */
  .Contacts_Section {
    width: 100%;
  }
  .Information_Section {
    position: absolute;
    height: 100%;
    width: 100%;
    translate: 100%;
  }
  #Edit_Add_Container {
    width: 100%;
    height: 100%;
    translate: 100%;
  }
}
@media screen and (min-width: 631px) {
  .Contacts_Section {
    border-right: 2px solid gainsboro;
  }
  .Top_Nav {
    visibility: hidden;
  }
}

/* --------------- */

/* #Contacts-Container {
  background-color: aquamarine;
}

.Contact {
  display:  flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  background-color: gray;
  border: 0;
}

.Contact_Profile_IMG {
  width: 50px;
  height: 50px;
} */
