:root {
  --test: white;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}
svg {
  box-sizing: content-box;
}
button {
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

@keyframes Zoom_In {
  from { scale: 0;}
  to {scale: 1;}
}
@keyframes Zoom_Out {
  from { scale: 1;}
  to {scale: 0;}
}
.Zoom_In {
  animation: Zoom_In 0.35s linear forwards;
}

.Zoom_Out {
  animation: Zoom_Out 0.35s linear forwards;
}



.Contacts_Section {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Contacts_Top {
  padding-left: 8px;
  padding-right: 8px;
}

.Contacts_Top_Items {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.Top_Nav {
  display: flex;
  justify-content: space-between;
  color: #0a84ff;
  padding: 8px;
}
.Top_Nav > button {
  color: #0a84ff;
  font-size: 1rem;
  padding: 4px;
  background: transparent;
  border: transparent;
}

.Contacts_Search_Container {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid gainsboro;
  padding-bottom: 20px;
}
#Contacts_Search {
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  font-size: 1rem;
  padding: 2px 8px;
}

.Contacts_Main {
  overflow-y: scroll;
}

.Contacts_My_Profile {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

#Contacts_Container {
  padding-left: 8px;
  padding-right: 8px;
}

.Contacts_Category {
  background-color: gainsboro;
}
.Contacts_Header {
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-bottom: 2px solid gainsboro;
}

.Contacts_Holder {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.Contacts {
  text-align: left;
  padding: 8px 10px;
  border: 0;
  /* color: rgb(85, 85, 85); */

  background-color: white;
}
.Contacts::first-letter {
  font-weight: bold;
}
.Contacts:hover {
  background-color: rgb(240, 240, 240);
}
.Contacts:active {
  background-color: rgb(230, 230, 230);
}

.Information_Section {
  flex-grow: 1;
  overflow-y: auto;
}

.Information_Identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.Information_Profile {
  height: 100px;
  width: 100px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.Information_Interact {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.Information_Interact_Button {
  color: #0a84ff;
  background: none;
  border: 0;
  gap: 8px;
  cursor: pointer;
}

.Information_Interact_Button_SVG {
  height: 25px;
  background-color: #0a84ff;
  fill: white;
  border-radius: 100%;
  box-sizing: content-box;
  padding: 6px;
}
.Information_Interact_Button > p {
  margin: 0;
}

.Information_Main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
}
.Information_Top_Nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.Information_Top_Nav > button {
  color: #0a84ff;
  font-size: 1rem;
  padding: 4px;
  background: transparent;
  border: transparent;
}

.Information_Contact_Items {
  display: flex;
  background-color: transparent;
  gap: 8px;
}
.Information_Contact_Logo {
  background-color: rgb(238 238 239);
  border-radius: 100%;
  padding: 8px;
  fill: #0a84ff;
  width: 24px;
  flex-shrink: 0;
}
.Information_Contact_Header {
  margin: 0;
  font-weight: normal;
}
.Information_Contact_Info {
  width: 100%;
}
.Information_Contact_Content {
  margin: 0;
  color: #0a84ff;
  width: 100%;
  display: flex;
}
.Information_Contact_Content[onclick] {
  cursor: pointer;
}
.Information_Contact_Content[onclick]::after {
  content: url("/src/svg/Forward_Email.svg");
}
.Information_Contact_Content:has(a[href^="http"])::after {
  content: url("/src/svg/External_Link.svg");
}
.Information_Contact_Content:last-child {
  border-bottom: 2px solid gainsboro;
  padding-bottom: 20px;
}
.Information_Contact_Content::after {
  content: "";
}
.Information_Contact_Content > a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Edit_Add_Section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Edit_Add_Section.Closed {
  display: none;
}

/* .Edit_Add_Section.Closed > #Edit_Add_Container {
  animation: Zoom_Out 0.35s linear forwards;
} */

#Edit_Add_Container {
  background-color: #2c2b30;
  padding: 16px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 16px;
 
  overflow: auto;
  scrollbar-color: white;
  border-radius: 20px;
  
}


.Top_Edit_Nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.Top_Edit_Nav > button {
  color: #0a84ff;
  font-size: 1rem;
  padding: 4px;
  background: transparent;
  border: transparent;
}

.Edit_Container {
  display: flex;
  flex-direction: column;
  background: #1d1c20;
  padding: 8px;
  border-radius: 20px;
}
label {
  color: white;
}
.Edit_Information_Contact_Field_BTN {
  padding: 8px;
  border: 0;
  margin: 0;
  background: transparent;
  box-sizing: border-box;
}
.Add_Information_Contact_Field_BTN {
  padding: 8px;
  border: 0;
  margin: 0;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  border-radius: 20px;
}


.Edit_Information_Contact_Field_BTN > svg, .Add_Information_Contact_Field_BTN > svg {
  aspect-ratio: 1;
  width: 27px;
  height: 27px;
  background-color: white;
  border-radius: 50%;
}

.Field_Container > input:hover, .Add_Information_Contact_Field_BTN:hover, #Edit_First_Name:hover , #Edit_Last_Name:hover {
  background-color: #2a282e;
}

.Field_Container > input:focus, #Edit_First_Name:focus , #Edit_Last_Name:focus {
  background-color: #2a282e;
}

.Add_Information_Contact_Field_BTN:hover > svg, .Add_Information_Contact_Field_BTN:hover > p {
  scale: 1.1;
}

.Field_Container > button:hover {
  scale: 1.1;
}


.Field_Section_Content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Field_Container {
  display: flex;
  position: relative;
  gap: 8px;
}

.Type_Input, .Edit_Input {
  min-width: 0;
  border: 0;
  border-bottom: 1px solid #323236;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  height: 42px;
}
.Edit_Input {
  width: 100%;
}

.Add_More_Container {
  display: flex;
  color: white;
}

@media screen and (max-width: 630px) {
  /* … */
  .Contacts_Section {
    width: 100%;
  }
  .Information_Section {
    position: absolute;
    height: 100%;
    width: 100%;
    translate: 100%;
  }
  #Edit_Add_Container {
    width: 100%;
    height: 100%;
  }

}
@media screen and (min-width: 631px) {
  .Contacts_Section {
    border-right: 2px solid gainsboro;
  }
  #Edit_Add_Container {
    max-height: 90%;
  }

}

/* --------------- */

/* #Contacts-Container {
  background-color: aquamarine;
}

.Contact {
  display:  flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  background-color: gray;
  border: 0;
}

.Contact_Profile_IMG {
  width: 50px;
  height: 50px;
} */
